* {
    margin:      0px 0px 0px 0px;
    padding:     0px 0px 0px 0px;
    font-family: sans-serif;
}

body {
    position: relative;
    width:    800px;
    height:   1130px;
    background: #d4d4d4;
}

#navigeringshuvud {
}

#main {
    position: absolute;
    top:      20px;
    left:     40px;
    width:    60%;
    padding:  10px 0px 0px 30px;
    text-align: left;
    background: #fefefe;
}

#right_section {
    position:   absolute;
    top:        20px;
    right:      0px;
    width:      30%;
    padding:    10px 10px 0px 0px;
    text-align: right;
    background: rgb( 240,240,240);
    font-size:  1.2em;
}

#bottom {
    position: absolute;
    padding:  0px 0px 0px 10px;
    width:    800px;
    bottom:   30px;
    left:     0px;
}

h3.titel_post_i_cv {
    padding:   20px 0px 0px 0px;
    font-size: 1.5em;
}
h4.company {
    padding: 10px 0px 0px 0px;
    font-size: 1.2em;
}
h4.organisation {
    padding: 10px 0px 0px 0px;
    font-size: 1.1em;
}
p.company_tid {
    font-size:   1.0em;
    font-family: gillius, serif;
}
p.company_beskrivning {
    font-size: 0.8em;
}

h4.utbildningsnamn {
    padding: 10px 0px 0px 0px;
    font-size: 1.2em;
}

p.utbildningsbeskrivning {
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    margin:          0;
    padding:         0;
}

#stor_bild {
    width: 500px;
}
#liten_bild {
    width:     90px;
    /* rotering höger 90 grader */
    /* transform: rotate(90deg);*/
}
