.*.sw[po]

##
## git revisioner
##
*~HEAD~

##
## emacs backup
## inklusive temporär backup
*~
\.#\.*
\#*#

##
## låsfil (vi ?)
.~lock.*

test.css
test.html
format_saved.css
format_storstil_saved.css
