* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    position: relative;
    width:    600px;
    height:   1200px;
}

div.main {
    position: absolute;
    top:      0px;
    width:    400px;
    left:     0px;
}

div.right_sektion {
    position: absolute;
    width:    200px;
    top:      0px;
    right:    0px;
}
