* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    position: relative;
    width:    600px;
    height:   1200px;
}

div.main {
    position: absolute;
    top:      0px;
    width:    80%;
    left:     0px;
    text-align: left;
}

div.right_section {
    position: absolute;
    width:    20%;
    top:      0px;
    right:    0px;
    text-align: right;
}

div.kunskaper_sektion {
    text-align: right;
}

img.#stor {
    width: 600px;
}
img.#liten {
    width: 90px;
}
