* {
    margin:      0px 0px 0px 0px;
    padding:     0px 0px 0px 0px;
    font-family: sans-serif;
}

body {
    position: relative;
    width:    800px;
    height:   1200px;
    background: #d4d4d4;
}

#main {
    padding:  10px 0px 0px 30px;
    position: absolute;
    top:      0px;
    width:    65%;
    left:     0px;
    text-align: left;
    background: #fefefe;
}

h3.namn {
    padding: 20px 0px 0px 0px;
}
h4.company {
    padding: 10px 0px 0px 0px;
}

p.company {
    font-size: 1.2em;
    padding-top: 10px;
}
p.company_tid {
    font-size: 0.8em;
}
p.company_beskrivning {
    font-size: 0.8em;
}

#right_section {
    position: absolute;
    padding:  10px 10px 0px 0px;
    width:    30%;
    top:      0px;
    right:    0px;
    text-align: right;
    /* background: #fefefe; */
    background: rgb( 240,240,240);
}

#kunskaper_sektion {
    text-align: right;
}

#stor {
    width: 500px;
}
#liten {
    width:     90px;
    /* rotering höger 90 grader */
    /* transform: rotate(90deg);*/
}
