* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background:  #fafafa;
}

#navigeringshuvud {
    /* padding:          5px 0px 10px 20px;
    position:         relative;
    background-color: #7f7f7f;
    color:            #ffffff;
    box-shadow:       0px 2px 5px 0px rgba(0,0,0,16),
		      0px 2px 10px 0px rgba(0,0,0,12);
   */
}

#navigeringshuvud > div {
/*    overflow:auto*/
}

.knapp {
    padding: 10px 15px 9px 15px !important;
    float:   left !important;
    display: block;
    width:   auto;

}

.knapp:hover {
    color: white;
}

/* a:focus {
    outline: 2px solid black;
}*/
