* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background:  #fafafa;
}

#navigeringshuvud {
    position: fixed;
    top: 0px;
    font-size: 18px;
}

.navigeringshuvud .knapp {
    padding: 10px 15px 9px 15px !important;
    float:   left !important;
    display: block;
    width:   auto;
}

.navigeringshuvud .knapp:hover {
/*
      background-color: black;
      color:            white;
 */
    background-color: #ddd;
    color:            #000;
}

validatorfot {
}
