@import url("http://fonts.googleapis.com/css?family=Cinzel:500");

* {
    font-family: sans-serif;
    box-sizing:  border-box;
}

html {
    padding-left:   0px;
    padding-bottom: 0px;
    padding-right:  0px;
    padding-top:    0px;
    width:          1024px;
    margin:         auto;
    --gap:          6rem;
    --maxwidth:     1024px;
}

body {
    background-color: #fdfdfd;
}

main {
    display:          flex;
}

.sidhuvud {
    display:             flex;
    align-items:         center;
    position:            relative;
    z-index:             2;
    border-bottom-color: rgb(100,100,100);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.sidhuvud_mitt {
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink : 1;
}

.navigeringsrad {
    display: block;
}

.navigeringsrad > ul {
    display: flex;
}

.navigeringsrad > ul > li {
    padding: 10px;
    list-style-type: none;
}

.konto {
    position: fixed;
    z-index: 15;
    top: 0.10rem;
    right: var(--gap);
}

main {
    display:        flex;
    flex-direction: row;
}

section {
    display:        flex;
    flex-direction: column;
}

#artiklar {
    display:        flex;
    flex-direction: row;
}

#artiklar article:nth-of-type(1) p:nth-of-type(2) {
    color:        blue;
    font-weight:  bold;
}

h2.login {
    text-transform: uppercase;
}

form {
    border-style:  solid;
    border-width:  2px;
    border-radius: 6px;
    padding:       10px;
    border-color:  black;
}

form > label {
    padding:       10px;
}

form > input {
    padding:          10px;
    border-color:     black;
}

form > input#reset {
    border-style:     solid;
    border-width:     2px;
    border-radius:    6px;
    padding:          10px;
    border-color:     black;
    background-color: #03cafc;
}

form > input#submit {
    border-style:     solid;
    border-width:     2px;
    border-radius:    6px;
    padding:          10px;
    border-color:     black;
    background-color: #fcbe03;
}

#original_odhner {
    width: 300px;
}
